// Define variables for your color scheme

// For example:
$red: #EB6547;
$blue: #264753;
$yellow: #DEAF3F;
$orange: #E67E22;
$green: #2A9D8F;
$gray: #0E0000;
$light-gray: #F4F4F4;
$beige: #FAF1DC;
$orange-80: #E76F51; 

$blue-70: #3A6B7E ;
$blue-50: #47829A;
$blue-10: #73A9BF;

$yellow-70: #E7C573;
$yellow-50: #EDD396;
