<div class="remarks">
  <% total_space = 0 %>
  <% @balcony_plants.each do |p| %>
  <% total_space += p.plant.spacing_in_cm %>
  <% end %>
  <h6>Remarques</h6>
  <p>Ces <%= @balcony_plants.count %> plantes demandent <%= total_space %>cm linéaires minimum pour leur bonne implantation.<br>Pensez à consulter les fiches des plantes pour connaitre leur espacement au pieds.</p>
  <p>Attention au géranium qui ne supporte pas de trop grosses variations de températures</p>
</div>

<div class="grid-plants mb-5">
  <% @balcony_plants.each do |balcony_plant| %>
    <% if balcony_plant.planted? %>
      <%= render "planted_plant", balcony_plant: balcony_plant %>
    <% else %>
      <%= render "not_planted_plant", balcony_plant: balcony_plant%>
    <% end %>
  <% end %>
</div>
