<div class="title">
  <h5>Les plantes de mon <%= @balcony.title %></h5>
</div>
<div class="remarks">
  <h6>Remarques</h6>
  <p>Votre géranium a besion d'eau et ne doit pas être planté à côté d'un cactus</p>
</div>

<div class="grid-plants mb-5">
  <% @balcony_plants.each do |balcony_plant| %>
    <% if balcony_plant.planted? %>
      <%= render "planted_plant", balcony_plant: balcony_plant %>
    <% else %>
      <%= render "not_planted_plant", balcony_plant: balcony_plant%>
    <% end %>
  <% end %>
</div>
