<div class="title">
  <h5>Toutes les plantes de mon <%= @balcony.title %></h5>
</div>
<div class="remarks">
  <h7>Remarques sur vos plantes</h7>
  <p>Votre géranium a besion d'eau et ne doit pas être planté à côté d'un cactus</p>
</div>
<div class="grid-plants mb-5">
  <% @balcony_plants.each do |balcony_plant| %>
    <div class="card aromatique card-plant-min mb-3" style="width: 18rem;">
      <div class="plant-img">
        <%= cl_image_tag(balcony_plant.plant.photo.key, :class =>"card-img-top") %>
        <h5 class="plant-title card-title"><%= balcony_plant.plant.name %></h5>
      </div>
      <div class="card-body">
        <i class="fas fa-thermometer-three-quarters"></i>
        <i class="fas fa-sun"></i>
        <i class="fas fa-tint"></i>
      </div>
    </div>
  <% end %>
</div>