<div class="container">
  <div class="title">
    <h3><%= @balcony.title %></h3>
  </div>

  <% if @balcony_plants.present? %>
    <%= render "balcony_plants" %>
  <% else %>
    <%= render "suggested_plants" %>
  <% end %>
</div>
