// Specific CSS for your home-page
#home_container {

    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url("home_pic.jpg");
    width: 100vw;
    height: 100vh;
    text-align: center;


  .home_wrapper {
      display: grid;
      place-content: center;
      height: 100vh;
  }

  #home_title {
    color: white;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 10rem;
    
    h1 {
        font-size: 6rem;
        font-weight: bolder;
        margin-bottom: 7rem;
        color: white;
    }
    
    h2 {
      margin-bottom: 2rem;
      font-size: 1.5rem;
    }
  }

  .home_button {
    box-shadow: $box-shadow;
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }

  .signup-btn {
    background-color: $yellow-50;
    color: $blue;
    padding: .75rem 5rem;
    
    &:hover {
      background-color: $yellow;  
    }
  }

  .login-btn {
    background-color: $blue;
    color: $yellow-50;
    padding: .75rem 5rem;
    
    &:hover {
      background-color: $blue-50;  
    }
  }
}
