
<%# <div class="weather">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div class="card mt-4 mb-5">
        <div class="card-body">
          <h5>Mètèo de ton balcon </h5>
          <h3 id="date" class="gray-text"></h3>
          <div id="weather">
            <p id="description"></p>
            <div class="d-flex">
              <img src="" alt="Weather Icon" id="icon">
              <h2 id="temperature"></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> %>

<div class="weather">
  <div class='wrapper'>
  <search>
    <form>
      <input class='searchbar transparent' id='search' type='text' placeholder='enter city, country' />
      <input class='button transparent' id='button' type="submit" value='GO' />
    </form>
  </search>

  <div class='panel'>
    <h2 class='city' id='city'></h2>
    <div class='weather' id='weather'>
      <div class='group secondary'>
        <h3 id='dt'></h3>
        <h3 id='description'></h3>
      </div>
      <div class='group secondary'>
        <h3 id='wind'></h3>
        <h3 id='humidity'></h3>
      </div>
      <div class='temperature' id='temperature'>
        <h1 class='temp' id='temp'><i id='condition'></i> <span id='num'></span><a class='fahrenheit active' id='fahrenheit' href="#">&deg;F</a><span class='divider secondary'>|</span><a class='celsius' id='celsius' href="#">&deg;C</a></h1>
      </div>
      <div class='forecast' id='forecast'></div>
    </div>
  </div>
 </div> 