
<div class="weather">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div class="card mt-4 mb-5">
        <div class="card-body">
          <h5>Mètèo de ton balcon </h5>
          <h3 id="date" class="gray-text"></h3>
          <div id="weather">
            <p id="description"></p>
            <div class="d-flex">
              <img src="" alt="Weather Icon" id="icon">
              <h2 id="temperature"></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>