
<%# <div class="weather">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div class="card mt-4 mb-5">
        <div class="card-body">
          <h5>Mètèo de ton balcon </h5>
          <h3 id="date" class="gray-text"></h3>
          <div id="weather">
            <p id="description"></p>
            <div class="d-flex">
              <img src="" alt="Weather Icon" id="icon">
              <h2 id="temperature"></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> %>

<div class="weather">
  <div class="card">
    <h2><%= balcony.city %></h2>
    <h3>Nuageux<span>Vent 20km/h <span class="dot">•</span> Pluie 40%</span></h3>
    <h2>21°</h2>
    <div class="sky">
        <div class="sun"></div>
        <div class="cloud">
            <div class="circle-small"></div>
            <div class="circle-tall"></div>
            <div class="circle-medium"></div>
        </div>
    </div>
    <table>
      <tr>
        <td>MER</td>
        <td>JEU</td>
        <td>VEN</td>
        <td>SAM</td>
        <td>DIM</td>
      </tr>
      <tr>
        <td>22°</td>
        <td>23°</td>
        <td>23°</td>
        <td>22°</td>
        <td>22°</td>
      </tr>
      <tr>
        <td>12°</td>
        <td>12°</td>
        <td>14°</td>
        <td>13°</td>
        <td>14°</td>
      </tr>
    </table>
  </div>
</div> 