<div class="container p-3" id="container-with-navbar">
  <div class="title">
    <h4>Vous n'avez pas encore de tâche en cours</h4>
      <%= render "weather" %>
      <%= render "card_task" %>
  </div>
</div>