<div class="container p-3" id="container-with-navbar">
  <div class="title">
  
  <% if @tasks.present? %>
    <h4>T창ches a effectuer sur vos plantes</h4>
    <%= render "weather", balcony: @balcony %>
    <div class="mb-3">
      <% if today_number_of_tasks == nil %>
        <h5> Aucune t창ches en cours aujourd'hui</h5>
      <% else %>
        <h5><strong><%= today_number_of_tasks %></strong> t창ches en cours aujourd'hui</h5>
      <% end %>
    </div>
    <%= render "card_task" %>
  <% else %>
    <h4>Vous n'avez pas encore de t창che en cours</h4>
  <% end %>
  </div>
</div>