<div class=" navbar-custom fixed-bottom">
  <div class="nav-icon">
    <div class="nav-link nav-home active">
      <i class="fas fa-carrot"></i>
    </div>
    <div class="nav-link nav-notif">
      <i class="fas fa-bell"></i>
    </div>
    <div class="nav-link nav-search">
      <i class="fas fa-search"></i>
    </div>
    <div class="nav-link nav-user">
      <i class="fas fa-user"></i>
    </div>
  </div>
</div>
