<div id="home_container">
	<div class="home_wrapper">
		<div id="home_title">
			<h1>Weedz</h1>
			<h2>Never kill a plant again</h2>
		</div>
		<a href="#" id="home_button">Commencer</a>
	</div>
</div>
