<div class="container">
    <div class="row justify-content-center align-items-center">
        <%=image_tag("facebook.png")%>
        <div class="col-md-4">
            <h1 class="text-center">Oooops!</h1>
            <br>
            <h2 class="text-center">Petite erreur ici...</h2>
            <br>
            <h3 class="text-center">Revenez en arrière.</h3>
        </div>
    </div>
</div>