.card_tasks {
    .arrosage {
        background-color: $blue;
        color: white;
        margin: 0;
    
    }
    .abriter {
        background-color: $orange;
        color: white;
        margin: 0;
    }
    
    .card {
        height: 90px;
        margin: 0;
    }
    .plant-img {
        height: 90px;
        img {
            padding: 0;
            margin: 0;
        }
        
    }
    
}