.card_tasks {
    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 0.5rem;
    }
    .arrosage {
        background-color: $blue;
        color: white;
        margin: 0;
    
    }
    .abriter {
        background-color: $orange;
        color: white;
        margin: 0;
    }
    
    .card {
        height: 90px;
        margin: 0;
    }
    .plant-img {
        height: 88px;
        img {
            padding: 0;
            margin: 0;
        }
        
    }
    
}