.cards {
  display: grid;
  place-content: center;
  
  h1 {
    text-align: center;
  }
}

/* CARD 1 */
.card-plant {
  height: auto;
}

.comestible {
  border: 2px solid $blue !important;

  .card-subtitle {
    color: $blue;
  }

  .btn-warning {
    background-color: $blue !important;
    border-color:$blue !important;
    color: white;
  }
}
.vivace {
  border: 2px solid $green !important;

  .card-subtitle {
    color: $green;
  }

  .btn-warning {
    background-color: $green !important;
    border-color:$green !important;
    color: white;
  }
}
.fruits {
  border: 2px solid $orange !important;

  .card-subtitle {
    color: $orange;
  }

  .btn-warning {
    background-color: $orange !important;
    border-color:$orange !important;
    color: white;
  }
}
.arbuste {
  border: 2px solid $yellow !important;

  .card-subtitle {
    color: $yellow;
  }

  .btn-warning {
    background-color: $yellow !important;
    border-color:$yellow !important;
    color: white;
  }
}

.card-plant {
  .card-desc {
    padding-right: 0;
  }
  .card-body {
    height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;

    .card-title {
      font-size: 1rem;
      text-transform: uppercase;
    }

    .card-text {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
  .btn-warning {
    color: white;
  }
  .card-subtitle {
    text-transform: uppercase;
    font-size: 10px;
  }
  
  .plant-img {
    position: unset;

    .fas {
      color: $yellow;
      background: white;
      border-radius: 50%;
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      padding: .75rem;
      width: 36px;
      height: 36px;
      display: grid;
      place-content: center;
    }

    .fas:before {
      content: "\f067";
    }

    #add-new-plant-suggestion {
      color: white;
      background: $yellow;
      position: unset;
      margin-top: 1rem;
    }

    .plant {
      position: absolute;
      transform: scale(0);
    }
    
    .plant+label i{
      cursor: pointer;
    }

    .plant:checked+label i:before {
      color: $green;
      content: "\f00c";
    }

    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      padding:  1rem;
      position: relative;
      padding-left: 0;
    }
  }

  .add-plant-img {
    display: flex;
    justify-content: flex-end;

    .fas {
      color: $white;
      background: $yellow;
      position: initial;
    }

    .fas:before {
      content: "\f067";
    }
  }
}


/* CARD 2 */
.grid-plants {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-gap: 1.75rem;
  place-items: center;
}

.card-plant-min {
  height: auto;
  width: 160px !important;
}

.card-plant-min .card-img-top {
  height: 170px;
  width: 100%;
  object-fit: cover;
}

.card-plant-min .card-body {
  display: flex;
  justify-content: space-around;
}

.card-plant-min .fas {
  font-size: x-large;
}

.card-plant-min .fa-thermometer-three-quarters {
  color: green;
}

.card-plant-min .fa-sun {
  color: $yellow;
}

.card-plant-min .fa-tint {
  color: blue;
}

.card-plant-min .plant-img {
  position: relative;
}

.card-plant-min .plant-title {
  left: 0;
  padding: .6rem 0 0 .6rem;
}

/* CARD 3 */
// .plant-img {
//   background: #000000;
//   background: -webkit-linear-gradient(bottom left, #000000, #FFFFFF);
//   background: -moz-linear-gradient(bottom left, #000000, #FFFFFF);
//   background: linear-gradient(to top right, #000000, #FFFFFF);
// }
.card-params {
  width: 200px !important;
  display: grid !important;
  place-content: center;
}

.card-params .fas {
  display: grid;
  place-content: center;
  font-size: 2rem;
  color: white;
  background: $yellow;
  border-radius: 50%;
  width: 5rem;
  height:5rem;
  margin-top: 2.5rem;
}

.card-params h5 {
  text-align: center;
  margin-bottom: 2.5rem;
}
.logo_water_lum {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  align-items: center;
}

.plant-temp {
  text-align: center;
  font-size: 0.75rem;
}

.bi {
  font-size: 1.5rem;
}

.bi-brightness-high-fill,
.bi-cloud-sun-fill,
.bi-clouds-fill {
  font-size: 1.75rem;
  color: $yellow;
}
.bi-thermometer-half {
  color: $green;
}

.bi-droplet,
.bi-droplet-half,
.bi-droplet-fill {
  color: $blue;
}

/* CARD 4 */
.card-notif {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  background: $yellow !important;
  justify-content: space-between;
  border: none !important;
}

.card-notif .card-info {
  display: flex;
  align-items: center;
}

.card-notif .fas {
  display: grid;
  place-content: center;
  font-size: 2rem;
  background: $yellow;
  color: white;
  border-radius: 50%;
  width: 4rem;
  height:4rem;
  margin: .5rem;
}

.card-notif .fa-check-circle {
  font-size: 3rem;
}

.card-notif .card-info h5 {
  margin: 0;
  margin-left: 1rem;
  color: white;
}

.add-plant {
  font-size: 12px;
  font-style: italic;
  color: $blue-10;
  align-items: center;
  margin-bottom: .5rem;

  p {
    margin: 0;
  }

  .fas {
    background: $blue-50;
    color: white;
    border-radius: 50%;
    padding: .75rem;
    width: 36px;
    height: 36px;
    display: grid;
    place-content: center;
  }
}

#btn-add-plant {
  width: 100%;
}