.cards {
  display: grid;
  place-content: center;
  
  h1 {
    text-align: center;
  }
}

/* CARD PLANT 1 */
.card-plant {
  height: auto;
  border: 2px solid transparent;

  .card-desc {
    padding-right: 0;
  }
  .card-body {
    height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;

    .card-title {
      font-size: 1rem;
      text-transform: uppercase;
    }

    .card-text {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .btn-warning {
    color: white;
  }

  .card-subtitle {
    text-transform: uppercase;
    font-size: 10px;
  }
  
  .plant-img {
    position: unset;

    .custom-fas {
      background: white;
      border-radius: 50%;
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      padding: .75rem;
      width: 36px;
      height: 36px;
      display: grid;
      place-content: center;
    }

    #add-new-plant-suggestion {
      color: white;
      background: $yellow;
      position: unset;
      margin-top: 1rem;
    }

    .plant {
      position: absolute;
      transform: scale(0);
    }
    
    .plant+label i{
      cursor: pointer;
    }

    .plant:checked+label i:before {
      content: "\f00c";
    }

    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      padding:  1rem;
      position: relative;
      padding-left: 0;
    }
  }

  .add-plant-img {
    display: flex;
    justify-content: flex-end;

    .fas {
      color: $white;
      background: $yellow;
      position: initial;
    }

    .fas:before {
      content: "\f067";
    }
  }
}

.comestible {
  &.checked {
    border: 2px solid $blue;
  }

  .card-subtitle {
    color: $blue;
  }

  .btn-warning {
    background-color: $blue;
    border-color:$blue;
    color: white;
  }

  .fas {
      color: $blue;
  }

  .fas:before {
    content: "\f067";
  }

  .plant:checked+label i:before {
    color: $blue;
  }
}

.vivace {
  &.checked {
    border: 2px solid $green;
  }

  .card-subtitle {
    color: $green;
  }

  .btn-warning {
    background-color: $green;
    border-color:$green;
    color: white;
  }

  .fas {
    color: $green;
  }

  .fas:before {
    content: "\f067";
  }

  .plant:checked+label i:before {
    color: $green;
  }
}

.fruits {
  &.checked {
    border: 2px solid $orange;
  }

  .card-subtitle {
    color: $orange;
  }

  .btn-warning {
    background-color: $orange;
    border-color:$orange;
    color: white;
  }

  .fas {
    color: $orange;
  }

  .fas:before {
    content: "\f067";
  }

  .plant:checked+label i:before {
    color: $orange;
  }
}

.arbuste {
  &.checked {
    border: 2px solid $yellow;
  }

  .card-subtitle {
    color: $yellow;
  }

  .btn-warning {
    background-color: $yellow;
    border-color:$yellow;
    color: white;
  }

  .fas {
    color: $yellow;
  }

  .fas:before {
    content: "\f067";
  }

  .plant:checked+label i:before {
    color: $yellow;
  }
}

/* SMALL CARD PLANT */
.grid-plants {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-gap: 1.75rem;
  place-items: center;
}

.temp-info {
  text-align: center;
  font-size: .9rem;
  margin-bottom: .6rem;
}

.card-plant-min {
  height: auto;
  width: 160px !important;

  h5 {
    font-size: 1rem;
  }
  
  .card-img-top {
    height: 170px;
    width: 100%;
    object-fit: cover;
  }

  .card-body {
    display: flex;
    justify-content: space-around;
  }

  .fas {
    font-size: x-large;
  }

  .fa-thermometer-three-quarters {
    color: green;
  }

  .fa-sun {
    color: $yellow;
  }

  .fa-tint {
    color: blue;
  }

  .plant-img {
    position: relative;
  }

  .plant-title {
    left: 0;
    padding: .6rem;
    padding-bottom: 0;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

}

.comestible {
  border: 2px solid $blue;

  .plant-title {
    color: $blue;
  }

  .btn-success {
    background: $blue;
    border: none;
  }
}

.vivace {
  border: 2px solid $green;

  .plant-title {
    color: $green; 
  }

  .btn-success {
    background: $green;
    border: none;
  }
}

.fruits {
  border: 2px solid $orange;

  .plant-title {
    color: $orange;
  }

  .btn-success {
    background: $orange;
    border: none;
  }
}

.arbuste {
  border: 2px solid $yellow;

  .plant-title {
    color: $yellow;
  }

  .btn-success {
    background: $yellow;
    border: none;
  }
}


/* CARD PROFILE */
.card-params {
  width: 200px !important;
  display: grid !important;
  place-content: center;
}

.card-params .fas {
  display: grid;
  place-content: center;
  font-size: 2rem;
  color: white;
  background: $yellow;
  border-radius: 50%;
  width: 5rem;
  height:5rem;
  margin-top: 2.5rem;
}

.card-params h5 {
  text-align: center;
  margin-bottom: 2.5rem;
}

.logo_water_lum {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  align-items: center;
}

.plant-temp {
  text-align: center;
  font-size: 0.75rem;
}

.bi {
  font-size: 1.5rem;
}

.bi-brightness-high-fill,
.bi-cloud-sun-fill,
.bi-clouds-fill {
  font-size: 1.75rem;
  color: $yellow;
}
.bi-thermometer-half {
  color: $green;
}

.bi-droplet,
.bi-droplet-half,
.bi-droplet-fill {
  color: $blue;
}

/* CARD TASKS */
.card-notif {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  background: $yellow !important;
  justify-content: space-between;
  border: none !important;
}

.card-notif .card-info {
  display: flex;
  align-items: center;
}

.card-notif .fas {
  display: grid;
  place-content: center;
  font-size: 2rem;
  background: $yellow;
  color: white;
  border-radius: 50%;
  width: 4rem;
  height:4rem;
  margin: .5rem;
}

.card-notif .fa-check-circle {
  font-size: 3rem;
}

.card-notif .card-info h5 {
  margin: 0;
  margin-left: 1rem;
  color: white;
}

.add-plant {
  font-size: 12px;
  font-style: italic;
  color: $blue-10;
  align-items: center;
  margin-bottom: .5rem;

  p {
    margin: 0;
  }

  .fas {
    background: $blue-50;
    color: white;
    border-radius: 50%;
    padding: .75rem;
    width: 36px;
    height: 36px;
    display: grid;
    place-content: center;
  }
}
