#form-balcon {
  .form-control {
    display: flex;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.75rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-color: $beige;
    background-clip: padding-box;
    border: 1px solid $yellow;
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  i {
  font-size: 40px;
  padding: 15px;
  color: $yellow;
  margin-bottom: 2rem;
  }

  .title {
    padding: 10px;
    margin-bottom: 30px;
    color: $blue;
  }

  .border-orange {
    border: 1px solid $yellow;
  }

  .tag-item {
    display: flex;
    direction: column;
    justify-content: center;
  }
  
  .tag-selector {
    position: absolute;
    transform: scale(0);
  }
  
  .tag-selector + label {
    cursor: pointer;
    height: 5rem;
    display: inline-block;
    font-size: 0.95rem;
    padding: 0.1rem 0.5rem;
    background-color: $beige;
    color: $yellow;
    border: 1px solid $yellow;
  }
  
  .tag-selector:checked + label {
    background-color: $yellow;
    color: white;
  }

  .col-form-label {
    margin-bottom: 25px;
}

  .form-check-label {
    width: 100px;
  }
  .category-wrapper-type {
    display: grid;
    grid-template-columns: 1fr 1fr ;

    label {
      margin: 1rem;
      display: grid;
      place-content: center;
    }
  }
  .category-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 2rem;
  }
  
  .category-item {
    flex: 0 0 30%;
  }
  
  .category-selector {
    position: absolute;
    transform: scale(0);
  }
  
  .category-selector + label {
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    width: 250px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    
  }
  
  .category-selector:checked + label {
    color: white !important;
  }
  
  
  #balcony_water_need_un_peu + label {
    border: 1px solid $blue-50;
    background-color: white;
    color: $blue-50;
  }
  
  #balcony_water_need_un_peu:checked + label {
    border: 1px solid $blue-50;
    background-color: $blue-50;
    color: white;
  }
  
  
  #balcony_water_need_beaucoup + label {
    border: 1px solid $blue;
    background-color: white;
    color: $blue;
  }
  
  #balcony_water_need_beaucoup:checked + label {
    border: 1px solid $blue;
    background-color: $blue;
    color: white;
  }
  
  
  #balcony_water_need_rien_du_tout + label {
    border: 1px solid $blue-10;
    background-color: white;
    color: $blue-10;
  }
  
  #balcony_water_need_rien_du_tout:checked + label {
    border: 1px solid $blue-10;
    background-color: $blue-10;
    color: white;
  }

  #balcony_rain_exposed_quasi-sec + label {
    border: 1px solid $blue-10;
    background-color: white;
    color: $blue-10;
  }
  
  #balcony_rain_exposed_quasi-sec:checked + label {
    border: 1px solid $blue-10;
    background-color: $blue-10;
    color: white;
  }
  
  
  #balcony_rain_exposed_pas_trop_mal_arrosé + label {
    border: 1px solid $blue-50;
    background-color: white;
    color: $blue-50;
  }
  
  #balcony_rain_exposed_pas_trop_mal_arrosé:checked + label {
    border: 1px solid $blue-50;
    background-color: $blue-50;
    color: white;
  }
  
  
  #balcony_rain_exposed_arrosé_comme_jamais + label {
    border: 1px solid $blue;
    background-color: white;
    color: $blue;
  }
  
  #balcony_rain_exposed_arrosé_comme_jamais:checked + label {
    border: 1px solid $blue;
    background-color: $blue;
    color: $white;
  }
}