.search {
  position: relative;
  display: flex;
  border-radius: 5px 0px 0px 5px;
  margin: 1rem 0 2rem 0;

  form {
    margin: auto;
    display: flex;
    width: -webkit-fill-available;
  }
  
  body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
  }
}

.searchTerm {
  width: 100vw;;
  border: 1px solid lightgrey;
  height: 36px;
  border-radius: 5px 0px 0px 5px;
  outline: none;
  color: lightgrey;
  justify-content: space-between;
  padding-left: .5rem;
}
.searchTerm:hover {
  border: 3px solid $yellow;
  border-right: none;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: $yellow;
}
.searchTerm:focus{
  color: black;
}

.searchButton {
  display: grid;
  place-content: center;
  width: 40px;
  height: 36px;
  text-align: center;
  border: 1px solid $yellow;
  background: $yellow;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.searchButton {
  &:hover {
    width: 40px;
    height: 36px;
    border: 1px solid $yellow;
    background: $yellow;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
}