
.search {
  position: relative;
  display: flex;
  border-radius: 5px 0px 0px 5px;
  form {
    margin: auto;
    display: flex;
  }
  body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
  }
}

.searchTerm {
  width: 300px;
  border: 1px solid lightgrey;
  height: 36px;
  border-radius: 5px 0px 0px 5px;
  outline: none;
  color: lightgrey;
  justify-content: space-between;
}
.searchTerm:hover {
  width: 300px;
  border: 3px solid $yellow;
  border-right: none;
  height: 36px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: $yellow;
}
.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  text-align: center;
  border: 1px solid $yellow;
  background: $yellow;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  font-size: 20px;
}

.searchButton:hover {
  width: 40px;
  height: 36px;
  border: 1px solid $yellow;
  background: $yellow;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}