.title {
  color: $blue;
  h3 {
    font-size: 3rem;
    font-weight: bolder;
    padding-top: 2rem;
  }
  h4 {
    font-size: 2rem;
    font-weight: bolder;
    padding-top: 2rem;
  }
}

.remarks {
  color: $blue-70;
  p {
    font-size: 12px;
  }
}